/* Body of the index.html page */
body {
	font-family: "Marko One", serif;
	line-height: 125%;
	text-align: center; 
	border-width: 2em; 
	border-radius: 1.25%; /*10px*/
	height: 100%;
	width: 90%; /* 800px */
	margin: 0 auto;
	padding: 1.875%; /* 15px/800px */
}

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 59.375%; /*475px*/
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

h1	{
	color: #232412;
	text-shadow: 0.1875em 0.1875em 0.1875em #424331;
	font-size: 3.375em; /* 16px/54px */
	text-align: center;
	line-height: 100%;
	margin: 0;
	padding: 2.5%; /* 20px/800px */ 	
}

h2 {
	color: #d1d3bd;
	text-shadow: 0.25em 0.25em 0.25em #424331;
	font-size: 2.25em; /* 36px */
	text-align: center;
	line-height: 110%;
	margin: 0 auto;
	padding: 1.875%; /* 15px */
}

#tagline p {
	text-align: center; 
	margin: 2.5%; 
}

/*Navigation Area */
	
#navigation {
	position: relative;
	margin: 2.5%; /* 20px */
	font: 1.5em bold; /* 24px font that is bold */
}

ul {
	margin: 0;
	padding: 0;
	overflow: auto;
}
	
li {
	width: 18.75%; /* 150px */
	margin: 0 auto;
	padding: 0;
	/* background: black; */
	text-shadow: 0.0625em 0.0625em 0.0625em #000; /* Brings out text more */
	list-style: none;
	display: inline;
}

a {
	padding: 0;
	text-decoration: none;
	background: none;
	display: inline;
	width: 25%; /* 200px */
	height: 50%; /* 50px */
	line-height: 100%;
	text-align: center;
	color: #232412;	
}

/* In order for the blink to work, you have to click the back arrow */

a:link {
	color: #d1d3bd;
	text-decoration: none;
}

a:visited {
	color: green;
	text-decoration: blink;
}

a:hover {
	color: #afb19b;
	background: #d1d3bd;
}

a:active {
	color: #d1d3bd;
	font-weight: bold;
}	
/* End of Navigation Area */

/*Small Centered Image */
#image {
	margin: 0 auto;
	max-width: 100%;
	padding: 1.875%; /* 15px/800px */
}

	
ol li {
	text-align: center;
	font-size: 1.5em; 
	width: 81.25%; /*650px*/ 
	height: auto;
	float: left;
	line-height: 37.5%; /*30px*/ 
	display: block;
	padding: 1.875%;
}

p {
	color: #d1d3bd;
	font-size: 1.25em; /*20px*/
	margin: 0 auto;
	padding: 0;
	clear: both;
}

#column {
	color: #afb19b;
	font-family: san-serif;
	background: none;
	width: 87.5%; /* 700px */ 
	margin: 0 auto; 
	padding: 0.625%; /* 5px */ 
	border: 1px solid #afb19b;
	background-color: #424331;
	overflow: auto;
	-moz-column-count: 1; /* Firefox */
	-webkit-column-count: 1; /* Safari and Chrome */
} 	

footer {
		color: #a0522d;
		text-align: center;
		clear: both;
		margin:30px;
}

/* Media Queries
---------------------------------------------------------------------------- */

/* Tablet Portrait size to Standard 960 (devices and browsers) */
@media screen and (min-width: 768px) and (max-width: 956px) {

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 59.375%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.75;
}

ol li {
	text-align: center;
	background: none;
	font-size: 1.5em;
	width: 81.25%; /*650px*/ 
	height: auto;
	line-height: 37.5%; /*30px*/ 
	float: left;
	border: 1px solid #424331;
	box-shadow: 2px 2px 2px #fff;
	display: block;
}

footer {
		color: #a0522d;
		text-shadow: 4px 4px 4px #424331;
		text-align: center;
		background-color: #000;
		opacity: 0.5;
}

}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
ol li{
	text-align: center;
	background: none;
	width: 81.25%; /*650px*/ 
	height: auto;
	line-height: 37.5%; /*30px*/ 
	float: left;
	border: 1px solid #424331;
	box-shadow: 2px 2px 2px #fff;
	display: block;
	margin: 0.75%;
}

a:hover {
	color: #6b6d5b;
	background: #424331;
}

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 59.375%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.5;
}

}		

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 59.375%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.25;
}

h2 {
	color: #424331;
	text-shadow: 0.25em 0.25em 0.25em #424331;
	font-size: 2.25em; /* 36px */
	text-align: center;
	line-height: 110%;
	margin: 0 auto;
	padding: 1.875%; /* 15px */
}
	
#image {
	margin: 0 auto;
	max-width: 100%;
	padding: 1.875%; /* 15px/800px */
	display: none;
}

ol li{
	text-align: center;
	background: none;
	width: 81.25%; /*650px*/ 
	height: auto;
	line-height: 37.5%; /*30px*/ 
	float: left;
	border: 1px solid #424331;
	box-shadow: 2px 2px 2px #fff;
	display: block;
	margin: 0.75%;
}
	
}	