/* Body of the index.html page */

body {
	font-family: "Marko One", serif;
	line-height: 125%;
	text-align: center; 
	border-width: 2em; 
	border-radius: 1.25%; /*10px*/
	height: 100%;
	width: 90%; /* 800px */
	margin: 0 auto;
	padding: 1.875%; /* 15px/800px */
}

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 59.375%; /*475px*/
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

h1	{
	color: #232412;
	text-shadow: 0.1875em 0.1875em 0.1875em #424331;
	font-size: 3.375em; /* 16px/54px */
	text-align: center;
	line-height: 100%;
	margin: 0;
	padding: 2.5%; /* 20px/800px */ 	
}

#tagline p {
	font-family: "Inika", serif;
	text-align: center; 
	margin: 2.5%; 
}
	
h2, h3 {
	color: #232412;
	text-shadow: 0.25em 0.25em 0.25em #afb19b;
	font-size: 2em; /*36px*/
	text-align: center;
	margin: 0 auto;
	padding: 1.875%; /*15px*/
}

h4 {
	height: 30%; /*30px*/
	margin: 0 auto;
	padding: 1.875%;
	clear: both;
}

p {
	color: #d1d3bd;
	font-size: 1.25em; /*20px*/
	padding: 0;
}

/*Navigation Area */
	
#navigation {
	position: relative;
	margin: 0 auto;
	font: 1.5em bold; /* 24px font that is bold */
}

ul {
	margin: 0;
	padding: 0;
	overflow: auto;
}
	
li {
	width: 18.75%; /* 150px */
	margin: 0 auto;
	padding: 0;
	/* background: black; */
	text-shadow: 0.0625em 0.0625em 0.0625em #000; /* Brings out text more */
	list-style: none;
	display: inline;
}

a {
	padding: 0;
	text-decoration: none;
	background: none;
	display: inline;
	width: 25%; /* 200px */
	height: 50%; /* 50px */
	line-height: 100%;
	text-align: center;
	color: #232412;	
}

#image {
	margin: 0 auto;
	max-width: 100%;
	padding: 1.875%; /* 15px/800px */
}	

/* In order for the blink to work, you have to click the back arrow */

a:link {
	color: #d1d3bd;
	text-decoration: none;
}

a:visited {
	color: #700000;
	text-shadow: 0.0625em 0.0625em 0.0625em #000; /* Brings out text more */
	text-decoration: blink;
}

a:hover {
	color: #afb19b;
	background: #d1d3bd;
}

a:active {
	color: #d1d3bd;
	font-weight: bold;
}	

ol li{
	text-align: center;
	background: none;
	width: 81.25%; /*650px*/ 
	height: 0;
	line-height: 37.5%; /*30px*/ 
	Float: left;
	border: 1px solid #424331;
	box-shadow: 2px 2px 2px #fff;
	display: block;
	margin: 0.75%;
}

footer {
		color: #a0522d;
		text-align: center;
		clear: both;
}

/* Media Queries
---------------------------------------------------------------------------- */

/* Tablet Portrait size to Standard 960 (devices and browsers) */
@media screen and (min-width: 768px) and (max-width: 956px) {

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 59.375%; /* 475px/800px */
  width: 100%;
  height: auto;
  position: fixed;
  opacity: 0.75;
}

li {
	width: 18.75%; /* 150px */
	margin: 0 auto;
	padding: 0;
	/* background: black; */
	display: inline;
}

ol li{
	text-align: center;
	background: none;
	width: 81.25%; /*650px*/ 
	height: 0;
	line-height: 37.5%; /*30px*/ 
	Float: left;
	border: 1px solid #424331;
	box-shadow: 2px 2px 2px #111;
	display: block;
	margin: 0.75%;
}

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 59.375%; /* 475px/800px */
  width: 100%;
  height: auto;
  position: fixed;
  opacity: 0.5;
}

li {
	width: 18.75%; /* 150px */
	margin: 0 auto;
	padding: 0;
	text-shadow: 0.0625em 0.0625em 0.0625em #fff; /* Brings out text more */
	list-style: none;
	display: inline;
}

a:link {
	color: #d1d3bd;
	text-decoration: none;
	width: 67.125%; /* 537px*/
	height: 3.125%; /*25px*/
}

a:hover {
	color: #000;
	background: #d1d3bd;
	width: 67.125%; /* 537px*/
	height: 3.125%; /*25px*/
}

ol li{
	text-align: center;
	background: none;
	width: 81.25%; /*650px*/ 
	height: 0;
	line-height: 37.5%; /*30px*/ 
	Float: left;
	border: 1px solid #424331;
	box-shadow: 2px 2px 2px #111;
	display: block;
	margin: 0.75%;
}

}		

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

#image {
	margin: 0 auto;
	max-width: 100%;
	padding: 1.875%; /* 15px/800px */
	display: none;
}	

li {
	width: 18.75%; /* 150px */
	margin: 0 auto;
	padding: 0;
	display: inline;
}

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 59.375%; /* 475px/800px */
  width: 100%;
  height: auto;
  position: fixed;
  opacity: 0.25;
}

a:hover {
	color: #afb19b;
	background: #424331;
}	
	
ol li{
	text-align: center;
	background: none;
	width: 81.25%; /*650px*/ 
	height: 0;
	line-height: 37.5%; /*30px*/ 
	Float: left;
	border: 1px solid #424331;
	box-shadow: 2px 2px 2px #111;
	display: block;
	margin: 0.5%;
}

}