/* Body of the index.html page */

body {
	font-family: "Marko One", serif;
	line-height: 125%;
	text-align: center; 
	border-width: 2em; 
	border-radius: 1.25%; /*10px*/
	height: 100%;
	width: 90%; /* 800px */
	margin: 0 auto;
	padding: 1.875%; /* 15px/800px */
}

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 59.375%; /*475px*/
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

h1	{
	color: #232412;
	text-shadow: 0.1875em 0.1875em 0.1875em #424331;
	font-size: 3.375em; /* 16px/54px */
	text-align: center;
	line-height: 100%;
	margin: 0;
	padding: 2.5%; /* 20px/800px */ 	
}
#tagline p {
	color: #d1d3bd;
	font-family: "Inika", serif;
	font-size: 1.25em; /*20px*/
	text-align: center;
	margin: 2.5%;
	clear: both;
}
	
h2, h3 {
	color: #232412;
	text-shadow: 0.1em 0.1em 0.1em #afb19b;
	font-family: "Fondamento", cursive;
	font-size: 2em; /*36px*/
	text-align: center;
	margin: 0 auto;
	padding: 1.875%; /*15px*/
}

/*Navigation Area */
	
#navigation {
	position: relative;
	margin: 0 auto;
	font: 1.5em bold; /* 24px font that is bold */
}

ul {
	margin: 0;
	padding: 0;
	overflow: auto;
}
	
li {
	width: 18.75%; /* 150px */
	margin: 0 auto;
	padding: 0;
	/* background: black; */
	text-shadow: 0.0625em 0.0625em 0.0625em #000; /* Brings out text more */
	list-style: none;
	display: inline;
}

a {
	padding: 0;
	text-decoration: none;
	background: none;
	display: inline;
	width: 25%; /* 200px */
	height: 50%; /* 50px */
	line-height: 100%;
	text-align: center;
	color: #232412;	
}

#image {
	margin: 0 auto;
	max-width: 100%;
	padding: 1.875%; /* 15px/800px */
}	

/* In order for the blink to work, you have to click the back arrow */

a:link {
	color: #d1d3bd;
	text-decoration: none;
}

a:visited {
	color: #700000;
	text-shadow: 0.0625em 0.0625em 0.0625em #000; /* Brings out text more */
	text-decoration: blink;
}

a:hover {
	color: #afb19b;
	background: #d1d3bd;
}

a:active {
	color: #d1d3bd;
	font-weight: bold;
}	

ol li{
	text-align: center;
	background: none;
	width: 81.25%; /*650px*/ 
	height: auto;
	line-height: 37.5%; /*30px*/ 
	float: left;
	border: 1px solid #424331;
	box-shadow: 2px 2px 2px #fff;
	display: block;
	margin: 0.75%;
}

h4 {
	height: 30%; /*30px*/
	margin: 0 auto;
	padding: 1.875%;
	clear: both;
}

p {
	color: #d1d3bd;
	font-size: 1.25em; /*20px*/
	border: 1px solid #afb19b;
	background-color: #424331;
	padding: 0.625%; /* 5px */
	opacity: 0.9;
}

fieldset {
	padding: 1.3em;
	display: inline;
	text-align: left;
}

label, input, select {
	display: block;
	float: left;
	clear: left;
	width: 50%;
	text-align: left;
}

#link {
	color: #d1d3bd;
}	

#checkbox {
	color: #d1d3bd;
	display: inline-block;
	text-align: center;
	float: right;
	background-color: #424331;
	opacity: 0.8;
}	

#message {
	color: #afb19b;
	text-align: center;
	clear: right;
	padding: 1em;
}

textarea {
	clear: left;
}

/* Gradient Button */
myButton {
    	-moz-box-shadow:inset 0px 0px 14px -3px #eaf5e9;
    	-webkit-box-shadow:inset 0px 0px 14px -3px #eaf5e9;
   		box-shadow:inset 0px 0px 14px -3px #eaf5e9;
        
    	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2c6606), color-stop(1, #0e2b0b));
		background:-moz-linear-gradient(top, #2c6606 5%, #0e2b0b 100%);
    	background:-webkit-linear-gradient(top, #2c6606 5%, #0e2b0b 100%);
    	background:-o-linear-gradient(top, #2c6606 5%, #0e2b0b 100%);
    	background:-ms-linear-gradient(top, #2c6606 5%, #0e2b0b 100%);
    	background:linear-gradient(to bottom, #2c6606 5%, #0e2b0b 100%);
        
    	background-color:#2c6606;
        
    	-moz-border-radius:6px;
    	-webkit-border-radius:6px;
    	border-radius:6px;
    	border:1px solid #a2cf9d;
        
    	display:inline-block;
    	color:#c5d4c3;
    	font-family:arial;
    	font:15px bold;
    	margin: 1em;
    	padding:6px 24px;
    	text-decoration:none;
        text-shadow:0px 1px 0px #979e96;
        float: right;
        
}
.myButton:hover {
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0e2b0b), color-stop(1, #2c6606));
        background:-moz-linear-gradient(top, #0e2b0b 5%, #2c6606 100%);
        background:-webkit-linear-gradient(top, #0e2b0b 5%, #2c6606 100%);
        background:-o-linear-gradient(top, #0e2b0b 5%, #2c6606 100%);
        background:-ms-linear-gradient(top, #0e2b0b 5%, #2c6606 100%);
        background:linear-gradient(to bottom, #0e2b0b 5%, #2c6606 100%);
        
        background-color:#0e2b0b;
}
.myButton:active {
        position:relative;
        top:1px;
}

footer {
		color: #a0522d;
		text-align: center;
		clear: both;
}

/* Media Queries
---------------------------------------------------------------------------- */

/* Tablet Portrait size to Standard 960 (devices and browsers) */
@media screen and (min-width: 768px) and (max-width: 956px) {

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 59.375%; /* 475px/800px */
  width: 100%;
  height: auto;
  position: fixed;
  opacity: 0.75;
}

li {
	width: 18.75%; /* 150px */
	margin: 0 auto;
	padding: 0;
	/* background: black; */
	display: inline;
}

ol li{
	text-align: center;
	background: none;
	width: 81.25%; /*650px*/ 
	height: 0;
	line-height: 37.5%; /*30px*/ 
	Float: left;
	border: 1px solid #424331;
	box-shadow: 2px 2px 2px #111;
	display: block;
	margin: 0.75%;
}

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 59.375%; /* 475px/800px */
  width: 100%;
  height: auto;
  position: fixed;
  opacity: 0.5;
}

li {
	width: 18.75%; /* 150px */
	margin: 0 auto;
	padding: 0;
	text-shadow: 0.0625em 0.0625em 0.0625em #fff; /* Brings out text more */
	list-style: none;
	display: inline;
}

a:link {
	color: #d1d3bd;
	text-decoration: none;
	width: 67.125%; /* 537px*/
	height: 3.125%; /*25px*/
}

a:hover {
	color: #000;
	background: #d1d3bd;
	width: 67.125%; /* 537px*/
	height: 3.125%; /*25px*/
}

ol li{
	text-align: center;
	background: none;
	width: 81.25%; /*650px*/ 
	height: 0;
	line-height: 37.5%; /*30px*/ 
	Float: left;
	border: 1px solid #424331;
	box-shadow: 2px 2px 2px #111;
	display: block;
	margin: 0.75%;
}

}		

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

#image {
	margin: 0 auto;
	max-width: 100%;
	padding: 1.875%; /* 15px/800px */
	display: none;
}	

li {
	width: 18.75%; /* 150px */
	margin: 0 auto;
	padding: 0;
	display: inline;
}

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 59.375%; /* 475px/800px */
  width: 100%;
  height: auto;
  position: fixed;
  opacity: 0.25;
}

a:hover {
	color: #afb19b;
	background: #424331;
}	
	
ol li{
	text-align: center;
	background: none;
	width: 81.25%; /*650px*/ 
	height: 0;
	line-height: 37.5%; /*30px*/ 
	Float: left;
	border: 1px solid #424331;
	box-shadow: 2px 2px 2px #111;
	display: block;
	margin: 0.5%;
}

}