/* Body of the index.html page */

body {
	font-family: "Comin Sans MA", cursive, san-serif;
	background-color: #afb19b;
	line-height: 125%;
	text-align: center;
	width: 800px;
	margin: 0 auto;
	padding: 10px;
}
h1	{
	color: 232412;
	text-shadow: 2px 2px 2px #424331;
	font-size: 54px;
	text-align: left;
	margin: 0 auto;
	padding-left: 20px;
}	 
	
h2 {
	color: 232412;
	text-shadow: 2px 2px 2px #424331;
	font-size: 36;
	text-align: center;
	margin: 0 auto;
	padding: 15px;
}
h3 {
	text-shadow: 2px 2px 2px #424331;
}
h4 {
	text-decoration: underline;
	text-shadow: 2px 2px 2px #424331;
}
/* Navigation for page */
		
#navigation a {
	width: 200px;
	height: 50px;
	text-align: center;
	text-decoration: underline;
	font-weight: bold;
	list-style-type: none;
}

ul {
	width: 775px;
	margin: 0 auto;
	background: none;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
}
	
li {
	width: 150px;
	background: none;
	float: left;
}

a {
	text-decoration: none;
	background: #afb19b;
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: 232412;	
}

a:hover {
	color: #afb19b;
	background: #d1d3bd;
	text-decoration: none;
}	

ol {
	width: 785px;
	margin: 0 auto;
	text-align: center;
	background: none;
	list-style-type: none;
	line-height: 30px; 
	float: right;
}
	
footer{
	
}