
/* Body of the index.html page */
body {
	font-family: "Comin Sans MA", cursive, san-serif;
	line-height: 125%;
	text-align: center; 
	border-width: 2em; 
	border-radius: 1.25%; /*10px*/
	height: 100%;
	width: 90%; /* 800px */
	margin: 0 auto;
	padding: 1.875%; /* 15px/800px */
}

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 59.375%; /*475px*/
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.8;
}

h1	{
	color: #232412;
	text-shadow: 0.1875em 0.1875em 0.1875em #424331;
	font-size: 3.375em; /* 16px/54px */
	text-align: center;
	line-height: 100%;
	margin: 0;
	padding: 2.5%; /* 20px/800px */ 	
}

h2 {
	color: #d1d3bd;
	text-shadow: 0.25em 0.25em 0.25em #424331;
	font-size: 2.25em; /* 36px */
	text-align: center;
	line-height: 110%;
	margin: 0 auto;
	padding: 1.875%; /* 15px */
}

/*Navigation Area */
	
/*Navigation Area */
	
#navigation {
	position: relative;
	margin: 2.5%; /* 20px */
	font: 1.5em bold; /* 24px font that is bold */
}

ul {
	margin: 0;
	padding: 0;
	overflow: auto;
}
	
li {
	width: 18.75%; /* 150px */
	margin: 0 auto;
	padding: 0;
	/* background: black; */
	text-shadow: 0.0625em 0.0625em 0.0625em #000; /* Brings out text more */
	list-style: none;
	display: inline;
}

a {
	padding: 0;
	text-decoration: none;
	background: none;
	display: inline;
	width: 25%; /* 200px */
	height: 50%; /* 50px */
	line-height: 100%;
	text-align: center;
	color: #232412;	
}

#gallery img {
	  border: 1px solid #232412;
	  list-style-type: none;
	  width: 31.25%; /* 250px/800px */
	  float: none;
}

/* In order for the blink to work, you have to click the back arrow */

a:link {
	color: blue;
	text-decoration: none;
}

a:visited {
	color: green;
	text-decoration: blink;
}

a:hover {
	color: #afb19b;
	background: #d1d3bd;
}

a:active {
	color: #d1d3bd;
	font-weight: bold;
}	

/* Images arrangement for proper viewing */

#bodycontent {
	font-family: san-serif;
	font-size: 2.5em;
	text-align: center;
	line-height: 100%;
}

footer {
		color: #a0522d;
		text-align: center;
		clear: both;
}

/* Media Queries
---------------------------------------------------------------------------- */

/* Tablet Portrait size to Standard 960 (devices and browsers) */
@media screen and (min-width: 768px) and (max-width: 956px) {

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 59.375%; /*475px*/
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.6;
}

h2 {
	color: #424331;
	text-shadow: 0.25em 0.25em 0.25em #424331;
	font-size: 2.25em; /* 36px */
	text-align: center;
	line-height: 110%;
	margin: 0 auto;
	padding: 1.875%; /* 15px */
}

#gallery img {
	  border: 1px solid #232412;
	  list-style-type: none;
	  width: 31.25%; /* 250px/800px */
	  float: none;
}

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 59.375%; /*475px*/
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.4;
}

#gallery img {
	  border: 1px solid #232412;
	  list-style-type: none;
	  width: 31.25%; /* 250px/800px */
	  float: none;
	  margin: 2.607561929596%;
}

h2 {
	color: #232412;
	text-shadow: 0.25em 0.25em 0.25em #424331;
	font-size: 2.25em; /* 36px */
	text-align: center;
	line-height: 110%;
	margin: 0 auto;
	padding: 1.875%; /* 15px */
}

}		

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 59.375%; /*475px*/
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.2;
}

h2 {
	color: #424331;
	text-shadow: 0.25em 0.25em 0.25em #424331;
	font-size: 2.25em; /* 36px */
	text-align: center;
	line-height: 110%;
	margin: 0 auto;
	padding: 1.875%; /* 15px */
}

	
#gallery img {
	  border: 1px solid #232412;
	  list-style-type: none;
	  width: 31.25%; /* 250px/800px */
	  float: left;
	  margin: 2.607561929596%;
}
}