/* Body of the index.html page */

body {
	font-family: "Comin Sans MA", cursive, san-serif;
	background-color: #afb19b;
	line-height: 125%;
	text-align: center;
	width: 800px;
	margin: 0 auto;
	padding: 10px;
}

/*h1 tag to reflect on all pages */
h1	{
	color: 232412;
	text-shadow: 2px 2px 2px #424331;
	font-size: 56px;
	background-color: white;
	text-align: center;
	margin: 0 auto;
	padding: 20px; 	
}
h2 {
	
}

/* Here is the Navigation for the Page */	
#navigation a {
	width: 200px;
	height: 50px;
	text-align: left;
	text-decoration: none;
	font-weight: bold;
	list-style-type: none;
}

ul{
	width: 775px;
	margin: 0 auto;
	background: none;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
}
	
li {
	width: 150px;
	background: #d1d3bd;
	float: left;
}

a {
	text-decoration: none;
	background: #afb19b;
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: 232412;	
}

a:visited {
	color: #214001;

a:hover {
	color: #afb19b;
	background: #d1d3bd;
}	

a:active {
	color: #232412;
	background-color: d1d3bd;

/* Images arrangement for proper viewing */

#bodycontent {
	border-style: solid
	border-color: hunter green
	border-width: .5px
}
