
/* Body of the index.html page */

body {
	font-family: "Comin Sans MA", cursive, san-serif;
	background-color: #afb19b;
	line-height: 125%;
	text-align: center;
	width: 800px;
	margin: 0 auto;
	padding: 10px;
}

/*h1 tag to reflect on all pages */
h1	{
	color: rgb(35, 36, 18);
	text-shadow: 2px 2px 2px #424331;
	font-size: 54px;
	text-align: left;
	margin: 0 auto;
	padding-left: 20px; 	
}

h2, {
	color: rgb(35, 36, 18);
	text-shadow: 2px 2px 2px #424331;
	font-size: 36px;
	text-align: center;
	margin: 0 auto;
	padding: 15px;
}

/* Here is the Navigation for the Page */	
#navigation a {
	width: 200px;
	height: 50px;
	text-align: left;
	text-decoration: none;
	font-weight: bold;
	list-style-type: none;
}

ul{
	width: 775px;
	margin: 0 auto;
	background: none;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
}
	
li {
	width: 150px;
	background: none;
	float: left;
}

a {
	text-decoration: none;
	background: #afb19b;
	display: inline;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: rgb(35, 36, 18);	
}

/* In order for the blink to work, you have to click the back arrow */
a:link {
	color: rgb(35, 36, 18);
	text-decoration: underline;
}

a:visited {
	color: green;
	text-decoration: blink;
}

a:hover {
	color: #afb19b;
	background: #d1d3bd;
}

a:active{
	color: black
	font-weight: bold;
}	

/* Images arrangement for proper viewing */
#demo{
	border:2px solid rgb(175, 177, 155);
	list-style-type: none;
	width: 750px;
}

#footer{
	border-top: 3px solid #424331;
	height: 35px;
}