/* Body of the index.html page */
body {
	font-family: "Marko One", serif;
	line-height: 125%;
	text-align: center; 
	border-width: 2em; 
	border-radius: 1.25%; /*10px*/
	height: 100%;
	width: 90%; /* 800px */
	margin: 0 auto;
	padding: 1.875%; /* 15px/800px */
}

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 59.375%; /*475px*/
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

h1	{
	color: #232412;
	text-shadow: 0.1875em 0.1875em 0.1875em #afb19b;
	font-size: 3.375em; /* 16px/54px */
	text-align: center;
	line-height: 100%;
	margin: 0;
	padding: 2.5%; /* 20px/800px */ 	
}

#tagline p {
	font-family: "Inika", serif;
	text-align: center; 
	margin: 2.5%; 
}

/*Navigation Area */
	
#navigation {
	position: relative;
	margin: 2.5%; /* 20px */
	font: 1.5em bold; /* 24px font that is bold */
}

ul {
	margin: 0;
	padding: 0;
	overflow: auto;
}
	
li {
	width: 18.75%; /* 150px */
	margin: auto;
	padding: 0;
	text-shadow: 0.0625em 0.0625em 0.0625em #000; /* Brings out text more */
	list-style: none;
	display: inline;
}

a {
	padding: 0;
	text-decoration: none;
	background: none;
	display: inline;
	width: 25%; /* 200px */
	height: 50%; /* 50px */
	line-height: 100%;
	text-align: center;
	color: #232412;	
}

/* In order for the blink to work, you have to click the back arrow */

a:link {
	color: #d1d3bd;
	text-decoration: none;
}

a:visited {
	color: green;
	text-decoration: blink;
}

a:hover {
	color: #afb19b;
	background: #d1d3bd;
}

a:active {
	color: #d1d3bd;
	font-weight: bold;
}	
/* End of Navigation Area */

#image {
	margin: 0 auto;
	max-width: 100%;
	padding: 1.875%; /* 15px/800px */
}

/* Content element */	
h2 {
	color: #d1d3bd;
	text-shadow: 0.25em 0.25em 0.25em #424331;
	font-size: 2.25em; /* 36px */
	text-align: center;
	line-height: 110%;
	margin: auto;
	padding: 1.875%; /* 15px */
}

p {
	text-align: center;
	clear: both;
}	

/* 10 Best Locations Table*/

table {
	border-collapse: collapse;
}

th {
	text-align: left;
	background-color: #232412;
	color: #d1d3bd;
	border-radius: 5px;
	padding: 0.4em;
}

td {
	background-color: #afb19b;
	color: #700000;
	text-align: center;
	border: 1px solid #000;
	border-radius: 5px;
	display: block;
	padding: 0.4em;
	float: left; 
}
/* End of Table Content*/

#link {
	text-align: center;
	border-radius: 0.2em;
	background: #afb19b;
	opacity: 0.8;
	clear: both;
}

/* End of Content Area */

footer {
		color: #a0522d;
		text-shadow: 0.25em 0.25em 0.25em #424331;
		text-align: center;
		background-color: #fff;
		opacity: 0.7;
		clear: both;
}

/* Media Queries
---------------------------------------------------------------------------- */

/* Tablet Portrait size to Standard 960 (devices and browsers) */
@media screen and (min-width: 768px) and (max-width: 956px) {

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 59.375%; /*475px*/
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.75;
}

footer {
		color: #a0522d;
		text-shadow: 0.25em 0.25em 0.25em #424331;
		text-align: center;
		background-color: #000;
		opacity: 0.5;
		clear: both;
}

ol li {
	color: #700000;
	text-align: center;
	background: none;
	width: 81.25%; /*650px*/ 
	height: 0;
	line-height: 37.5%; /*30px*/ 
	Float: left;
	display: block;
	margin: 1.25%;
	padding: 0;
}

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 59.375%; /*475px*/
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.5;
}

#image {
	margin: 0 auto;
	max-width:100%;
	padding: 1.875%; /*15px*/
	border: solid #afb19b;
	overflow: auto;
}

h3 {
	color: #000;
	text-decoration: underline;
}		

ol li {
	color: #700000;
	text-align: center;
	background: none;
	width: 81.25%; /*650px*/ 
	height: 0;
	line-height: 37.5%; /*30px*/ 
	Float: left;
	display: block;
	margin: 1.25%;
	padding: 0;
}

}		

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 59.375%; /*475px*/
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.25;
}

#image {
	margin: 0 auto;
	max-width:75%;
	padding: 1.875%; /*15px*/
	display: none;
}	

li {
	width: 18.75%; /* 150px */
	margin: 0 auto;
	padding: 0;
	text-shadow: 0.0625em 0.0625em 0.0625em #000; /* Brings out text more */
	list-style: none;
	display: inline;
}

a {
	padding: 3px 12px;
	text-decoration: none;
	background: none;
	display: inline;
	text-align: center;
	width: 90%; /* 200px */
	height: 50%; /* 50px */
	line-height: 50%;
	color: #232412;	
}

}