
/* Body of the index.html page*/

body {
	background-color: #afb19b;
	line-height: 125%;
	padding: 15px;
	
h1, h2 {
	color: 232412
	font-size: 20px "Comic Sans MS", cursive, sans-serif;
	text-align: center;
	padding: 15px;
}
	
ul {
	font-family: cursive;
	text-align: right;
	float: none;	
}

aside{
	font: Italic 14px
}

strong{
	font-weight: bold;
}