/* Light Green  #afb19b,  Light Moss   #6b6d5b,  Dark Moss #424331,  Hunter Green #232412,  Light Gray #d1d3bd */
/* Body of the index.html page */

body {
	font-family: "Comin Sans MA", cursive, san-serif;
	line-height: 125%;
	text-align: center;
	height: 100%;
	width: 100%; /* 800px */
	margin: 0 auto;
	padding: 1.875%; /* 15px/800px */
}

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 59.375%; /* 475px/800px */
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

h1	{
	color: #232412;
	text-shadow: 3px 3px 3px #424331;
	font-size: 3.375em; /* 16px/54px */
	text-align: center;
	line-height: 100%;
	margin: 0;
	padding: 2.5%; /* 20px/800px */ 	
}

h2 {
	color: #d1d3bd;
	text-shadow: 4px 4px 4px #424331;
	font-size: 2.25em; /* 36px */
	text-align: center;
	line-height: 110%;
	margin: 0 auto;
	padding: 1.875%; /* 15px */
}

#tagline p {
	text-align: center; 
}

#image {
	margin: 0 auto;
	max-width: 100%;
	padding: 1.875%; /* 15px/800px */
}

#column {
	color: #fff;
	font-family: san-serif;
	background: none;
	opacity: none;
	font-weight: none;
	width: 87.5%; /* 700px */ 
	margin: 0 auto; 
	padding: 0.625%; /* 5px */ 
	border: 1px solid #ccc
	-moz-column-count:3; /* Firefox */
	-webkit-column-count:3; /* Safari and Chrome */
} 

/*Navigation Area */
	
#navigation {
	position: relative;
	margin: 2.5%; /* 20px */
	font: 1.5em bold; /* 24px font that is bold */
}

ul {
	margin: 0;
	padding: 0;
	overflow: auto;
}
	
li {
	width: 18.75%; /* 150px */
	margin: 0 5px 10px 0;
	padding: 0;
	/* background: black; */
	text-shadow: 1px 1px 1px #000; /* Brings out text more */
	list-style: none;
	display: inline;
}

a {
	padding: 3px 12px;
	text-decoration: none;
	background: none;
	display: inline;
	width: 25%; /* 200px */
	height: 50%; /* 50px */
	line-height: 100%;
	text-align: center;
	color: #232412;	
}

/* In order for the blink to work, you have to click the back arrow */

a:link {
	color: #d1d3bd;
	text-decoration: none;
}

a:visited {
	color: green;
	text-decoration: blink;
}

a:hover {
	color: #afb19b;
	background: #d1d3bd;
}

a:active {
	color: d1d3bd;
	font-weight: bold;
}	

aside {
	color: #6b6d5b;
	font-size: 1em; /* 16px */
	font-style: italic;
}
strong {
	font-weight: bold;
}

footer {
		color: #a0522d;
		text-shadow: 4px 4px 4px #424331;
		text-align: center;
		clear: both;
}
	
/* Media Queries
---------------------------------------------------------------------------- */

/* Tablet Portrait size to Standard 960 (devices and browsers) */
@media screen and (min-width: 768px) and (max-width: 956px) {

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 59.375%;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.75;
}

aside {
	color: #095021;
	text-shadow: 2px 2px 2px #fff;
	font-size: 1em; /* 16px */
	font-style: italic;
	border: solid #ccc;
}

#column {
	color: #afb19b;
	font-family: san-serif;
	background: none;
	opacity: none;
	font-weight: none;
	width: 87.5%; /* 700px */ 
	margin: 0 auto; 
	padding: 0.625%; /* 5px */ 
	border: 1px solid #ccc
	-moz-column-count:3; /* Firefox */
	-webkit-column-count:3; /* Safari and Chrome */
} 


footer {
		color: #472507;
		text-shadow: 4px 4px 4px #424331;
		text-align: center;
		clear: both;
}


}		

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

	#image {
	margin: 0 auto;
	max-width: 100%;
	padding: 1.875%;
	display: none;
}

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 99.164926931106%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.3;
}

h2 {
	color: #232412;
	text-shadow: 4px 4px 4px #424331;
	font-size: 2.25em; /* 36px */
	text-align: center;
	line-height: 110%;
	margin: 0 auto;
	padding: 1.875%; /* 15px */
}

#column {
	color: #000;
	font-family: san-serif;
	background: none;
	opacity: none;
	font-weight: none;
	width: 87.5%; /* 700px */ 
	margin: 0 auto; 
	padding: 0.625%; /* 5px */ 
	border: 1px solid #ccc
	-moz-column-count:3; /* Firefox */
	-webkit-column-count:3; /* Safari and Chrome */
} 

}