
/* Body of the index.html page*/

body {
	font-family: "Comin Sans MA", cursive, san-serif;
	background-color: #afb19b;
	line-height: 125%;
	padding: 15px;
}
	
h1	{
	color: 232412;
	text-shadow: 2px 2px 2px #424331;
	font-size: 42px;
	padding: 20px; 	
}

h2 {
	color: 232412;
	font-size: 36;
	text-align: center;
	padding: 15px;
}
	
li {
	text-align: left;	
}

aside {
	background-color: #6b6d5b;
	font-size: 16px;
	font-style: italic;
}

strong{
	font-weight: bold;
}

p {
	font-size: 20px;
}

footer {
		